## Notebook for Data preprocessing, EDA and ML modeling with inference

In [9]:
""" Standard modules """
import os

""" Data analysis and ML stack modules """

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

### Table of Summaries

1. [Data Preprocessing](#preprocessing)
   
    1.1. [Displaying Intrusion Data](#display)

### 1. Data Preprocessing <a class="anchor" id="preprocessing"></a>

#### 1.1. Displaying Intrusion Data <a class="anchor" id="display"></a>

In [10]:
_DATA_FILE_NAME: str = "cybersecurity_intrusion_data.csv" # Database file name with format
_DATA_DIR_NAME:  str = "data" # Directory of database
_DATA_FILE_PATH: str = os.path.realpath(
        os.path.os.path.join("..", _DATA_DIR_NAME, _DATA_FILE_NAME)
) # Full filepath of the database relative to the location of notebook

In [11]:
df = pd.read_csv(_DATA_FILE_PATH)

df.head()

,session_id,network_packet_size,protocol_type,login_attempts,session_duration,encryption_used,ip_reputation_score,failed_logins,browser_type,unusual_time_access,attack_detected
0,SID_00001,599,TCP,4,492.983263,DES,0.606818,1,Edge,0,1
1,SID_00002,472,TCP,3,1557.996461,DES,0.301569,0,Firefox,0,0
2,SID_00003,629,TCP,3,75.044262,DES,0.739164,2,Chrome,0,1
3,SID_00004,804,UDP,4,601.248835,DES,0.123267,0,Unknown,0,1
4,SID_00005,453,TCP,5,532.540888,AES,0.054874,1,Firefox,0,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      7571 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9537 non-null   int64
 8   browser_type         9537 non-null   object
 9   unusual_time_access  9537 non-null   int64
 10  attack_detected      9537 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 819.7+ KB

In [24]:
missing_values = df.isnull()

missing_values.sum()

session_id                0
network_packet_size       0
protocol_type             0
login_attempts            0
session_duration          0
encryption_used        1966
ip_reputation_score       0
failed_logins             0
browser_type              0
unusual_time_access       0
attack_detected           0
dtype: int64

In [ ]:
sns.heatmap(df.isnull(), annot=True)
plt.show()

In [18]:
print(f"Number of duplicated data: {df.duplicated().sum()}")

Number of duplicated data: 0